p {
    font-size: 50px;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

body {
	background: black;
	cursor: crosshair;
	margin: 0;
}

canvas {
	display: block;
}

h1 {
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 4em;
	font-weight: bold;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 70%;
	transform: translate(-50%, -50%);
	user-select: none;
	webkit-user-select: none;
}
  
.image-container {
    margin-top: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.image-container-child {
    padding: 12px 12px 12px 12px;
    font-size: 1.15vw;
    color: #ffffff00;
    width: 24vw;
    height: 24vw;
    border: 5px solid #1c1c1c;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
  
.image-1 {
    background-image: url('static/art-1.png');
    transition: 0.5s ease-in;
}
  
.image-2 {
    background-image: url('static/HAPPYB-DAYMRS.KOLRESIZE - NoLongerPadoru.png');
    transition: 0.5s ease-in;
}
  
.image-3 {
    background-image: url('static/pixil-frame-0 (1) - TheBlueAce.png');
    transition: 0.5s ease-in;
}

.image-4 {
    background-image: url('static/image_2023-09-13_223609444 - TJIM_Mojer.png');
    transition: 0.5s ease-in;
}
  
.image-5 {
    background-image: url('static/IMG_8396_copy.jpg');
    transition: 0.5s ease-in;
}
  
.image-6 {
    background-image: url('static/art-6.png');
    transition: 0.5s ease-in;
}

.image-7 {
    background-image: url('static/art-7.png');
    transition: 0.5s ease-in;
}

.image-8 {
    background-image: url('static/art-8.GIF');
	animation: gif-animation 2s steps(35) infinite;
    transition: 0.5s ease-in;
}
  
.image-9 {
    background-image: url('static/0230612_130204 - MATTHEW CABRERA.jpg');
    transition: 0.5s ease-in;
}
  
.image-10 {
    background-image: url('static/art-10.png');
    transition: 0.5s ease-in;
}

.image-11 {
    background-image: url('static/art-11.png');
    transition: 0.5s ease-in;
}
  
.image-12 {
    background-image: url('static/art-12.png');
    transition: 0.5s ease-in;
}
  
.image-13 {
    background-image: url('static/art-13.png');
    transition: 0.5s ease-in;
}

.image-14 {
    background-image: url('static/0AC3F888-66E5-4931-B8A9-5390525BCC11 - JANINE KYLE BOKINGKITO.jpeg');
    transition: 0.5s ease-in;
}

.image-15 {
    background-image: url('static/image_2023-09-15_005652646.png');
    transition: 0.5s ease-in;
}
  
.image-16 {
    background-image: url('static/art-16.png');
    transition: 0.5s ease-in;
}
  
.image-17 {
    background-image: url('static/art-17.png');
    transition: 0.5s ease-in;
}

.image-18 {
    background-image: url('static/birthday message !!! - HANA SNEAD.png');
    transition: 0.5s ease-in;
}
  
.image-19 {
    background-image: url('static/art-19.png');
    transition: 0.5s ease-in;
}
  
.image-20 {
    background-image: url('static/julesmskolbday - Jules-Elvin Andrade.png');
    transition: 0.5s ease-in;
}

.image-21 {
    background-image: url('static/F289C74D-5400-44EB-A4C8-8D3DBF120584 - Sila Stibbie.jpeg');
    transition: 0.5s ease-in;
}

.image-22 {
    background-image: url('static/art-22.png');
    transition: 0.5s ease-in;
}

.image-23 {
    background-image: url('static/art-23.ong');
    transition: 0.5s ease-in;
}

.image-24 {
    background-image: url('static/IMG_7348 - HELEN ORTIZ.jpeg');
    transition: 0.5s ease-in;
}

.image-25 {
    background-image: url('static/art-25.png');
    transition: 0.5s ease-in;
}

.image-26 {
    background-image: url('static/art-26.png');
    transition: 0.5s ease-in;
}

.image-27 {
    background-image: url('static/art-27.png');
    transition: 0.5s ease-in;
}

.image-28 {
    background-image: url('static/art-28.png');
    transition: 0.5s ease-in;
}

.image-29 {
    background-image: url('static/art-29.png');
    transition: 0.5s ease-in;
}

.image-30 {
	background-image: url('static/art-29.png');
    transition: 0.5s ease-in;
}

.image-1:hover, .image-2:hover, .image-3:hover, .image-4:hover, .image-5:hover, .image-6:hover, .image-7:hover,
.image-8:hover, .image-9:hover, .image-10:hover, .image-11:hover, .image-12:hover, .image-13:hover, .image-14:hover,
.image-15:hover, .image-16:hover, .image-17:hover, .image-18:hover, .image-19:hover, .image-20:hover, .image-21:hover,
.image-22:hover, .image-23:hover, .image-24:hover, .image-25:hover, .image-26:hover, .image-27:hover, .image-28:hover,
.image-29:hover, .image-30:hover{
    color: #ffffff;
	background: #000000;
    transition-duration: 0.5s;
    
}
@media (max-width: 480px) {
    .image-container {
        flex-direction: column;
        gap: 1rem;
    }

    .image-container-child {
        width: 80vw;
        height: 80vw;
	    font-size: 3.7vw;
    }
}


#cake {
    display: block;
    margin: -10em auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.candle {
	animation: in 500ms 6s ease-out forwards;
	backface-visibility: hidden;
	background: #ffffff;
	border-radius: 10px;
	height: 35px;
	left: 50%;
	position: absolute;
	top: 228px;
	transform: translateY(-300px);
	width: 5px;
}

.candle:after,
.candle:before {
	background: rgba(255, 0, 0, 0.4);
	content: "";
	height: 2.22222222px;
	position: absolute;
	width: 100%;
}

.candle:after {
	left: 0;
	top: 25%;
}

.candle:before {
	left: 0;
	top: 45%;
}

.fire {
	border-radius: 100%;
	height: 18px;
	left: 50%;
	margin-left: -2.6px;
	position: absolute;
	top: -20px;
	width: 6.66666667px;
}

.fire:nth-child(1) {
	animation: fire 2s 6.5s infinite;
}

.fire:nth-child(2) {
	animation: fire 1.5s 6.5s infinite;
}

.fire:nth-child(3) {
	animation: fire 1s 6.5s infinite;
}

.fire:nth-child(4) {
	animation: fire 0.5s 6.5s infinite;
}

.fire:nth-child(5) {
	animation: fire 0.2s 6.5s infinite;
}

@keyframes fire {
	0%, 100% {
		background: rgba(254, 248, 97, 0.5);
		box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
		transform: translateY(0) scale(1);
	}
	50% {
		background: rgba(255, 50, 0, 0.1);
		box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
		transform: translateY(-20px) scale(0);
	}
}

@keyframes in {
	to {
		transform: translateY(0);
	}
}

@keyframes gif-animation {
	0% {background-position: 0 0; } 
  	100% {background-position: 0 24vw; }
}
