p {
    font-size: 20px;
    text-align: center;
}
  
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.image-container-child {
    background-color: #ffffff;
    width: 24vw;
    height: 24vw;
    border: 5px solid #000000;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
  
.image-1 {
    background-image: url('static/art-1.png');
}
  
.image-2 {
    background-image: url('static/art-2.png');
}
  
.image-3 {
    background-image: url('static/art-3.png');
}

@media (max-width: 480px) {
    .image-container {
        flex-direction: column;
        gap: 1rem;
    }

    .image-container-child {
        width: 80vw;
        height: 80vw;
    }
}