p {
  font-size: 20px;
}

.formatingImg1{
  background: #000000;
  position: absolute;
  margin-left: 7%;
  width: 25%;
  height: 25%;
  border: 5px solid #000000;
}

.formatingImg2{
  background: #000000;
  position: absolute;
  margin-left: 37%;
  width: 25%;
  height: 25%;
  border: 5px solid #000000;
}

.formatingImg3{
  background: #000000;
  position: absolute;
  margin-left: 67%;
  width: 25%;
  height: 25%;
  border: 5px solid #000000;
}
